.informaçoes {
    margin-top: 80px;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.informaçoes p {
    font-family: 'Dosis', sans-serif;
}

.informaçoes img {
    width: 300px;
    border-radius: 180px;
}

.text {
    animation: inicializar .7s forwards;
    width: 400px;
    text-align: justify;
}


.text h2 {
    font-size: 50px;
    color: rgb(80, 78, 78);
}

.text p {
    font-size: 1rem;
    font-family: "Chakra Petch", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.tecnologias {
    margin-top: 3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.tecnologias p {
    font-size: 30px;
    margin-top: 1rem;
    font-family: "Chakra Petch", sans-serif;
    font-weight: 300;
    font-style: normal;
    text-align: center;
}

.tecsIcon {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.tecsIcon img {
    margin-top: 0.5rem;
    width: 2.5rem;
    height: 2.5rem;
}

.home-icon img {
    width: 1.8rem;
}

.tecsIcon p {
    font-size: 0.7rem;
}

@media screen and (max-width: 1000px) {
    .informaçoes {
        display: flex;
        text-align: center;
        flex-direction: column;
    }
}

@media screen and (max-width: 720px) {
    .informaçoes {
        padding: 0;
    }

    .tecnologias p {
        font-size: 1rem;
    }

    .tecnologias {
        width: 27rem;
    }
}